<div class="main-page">
  <h1><b>Welcome to Alens Biker Shop</b></h1>
  <h2>Your best place for buying stylish bikes around</h2>

  <h3><a class="link-underline" href="/products">Check Our Bikes for Sell</a></h3>


  <div class="img">
    <%= image_tag("racebike.png", class: "img-responsive") %>
  </div>
</div>
