<div class="main-page">
  <h1><b>Welcome to Bikers Shop</b></h1>
  <h2>Your source for used bikes in Berlin</h2>
  <p>The date and time is <%= Time.new %></p>

  <h1>Bikes for Sell</h1>

  <div class="img">
    <%= image_tag("racebike.png", class: "img-responsive")%>
  </div>
</div>
