<table>
  <tbody>

    <tr>
      <td><p>Thank you very much for your order</p></td>
    </tr>

    <tr>
      <td><p>Bought product: <%= @product %></p></td>
    </tr>

    <tr>
      <td><p>The email of the user is <%= @email %></p></td>
    </tr>
  </tbody>
</table>
