.border {
  border: solid 1px #D2D2D2;
}

.btn-primary {
  margin-top: 50px;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: #CECFCE;
  position: fixed;
  right: 10px;
  z-index: 1;
}

.btn-primary:hover {
  background-color: #6BFF66;
}

.container {
  margin-top: 75px;
}


@media (min-width: 1000px) {
  .img-responsive {
    min-height: 300px;
    max-height: 300px;
    max-width: 100%;
    }
}

@media (max-width: 800px) and (min-width: 100px) {
 .img-responsive {
    max-height: 800px;
  }
}
