/** Start of Body **/
body {
  padding-top: 3%;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #F9FAF9;
  color: #6E6F6E;
  font-family: Lato, Arial;
 }
 /** End of Body **/

/** Start of Header **/
.navbar {
    background-color: #31302F;
    position: fixed;
    height: 20px;
    bottom: 0;
    width: 100%;
}

.nav li a, .navbar-brand {
  color: white;
}

.navbar-right {
  background-color: #31302F;
}
/** End of Header **/


.img {
  width: 30%;
  height: 30%;
  margin: 0 auto;
}

.footer {
    position: fixed;
    height: 20px;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.link-underline {
  text-decoration: underline;
}


/** Start of Media Queries **/
@media (max-width: 800px) {
  body {
    padding-top: 240px;
    text-align: center;
    }
}
/** End of Media Queries **/
