
<p id="notice"><%= notice %></p>

<% if signed_in? %>
  <%= link_to 'New Product', new_product_path, class: 'pull-right btn btn-primary' %>
<% end %>

<!-- This is the Products Page -->

<div class="container">
  <h1>Products</h1>
  <%= render @products, class: 'img-responsive' %>
</div>
